# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm files
.idea/

# VS Code files
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.pt
*.pth
*.onnx
*.bin

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db